registry=https://pkgs.dev.azure.com/mdakhan/_packaging/cs-framework/npm/registry/
always-auth=true

//pkgs.dev.azure.com/mdakhan/_packaging/cs-framework/npm/registry/:username=mdakhan
//pkgs.dev.azure.com/mdakhan/_packaging/cs-framework/npm/registry/:_password=NVZxTlI5Y0x2UHBKejdDbnNQTGtXaFdlbzI5UjhkRDAzMElzNjdLbWgyTmhuUjVHaGE4bEpRUUo5OUJJQUNBQUFBQUFBQUFBQUFBU0FaRE91NUEz
//pkgs.dev.azure.com/mdakhan/_packaging/cs-framework/npm/registry/:email=npm@example.com
//pkgs.dev.azure.com/mdakhan/_packaging/cs-framework/npm/:username=mdakhan
//pkgs.dev.azure.com/mdakhan/_packaging/cs-framework/npm/:_password=NVZxTlI5Y0x2UHBKejdDbnNQTGtXaFdlbzI5UjhkRDAzMElzNjdLbWgyTmhuUjVHaGE4bEpRUUo5OUJJQUNBQUFBQUFBQUFBQUFBU0FaRE91NUEz
//pkgs.dev.azure.com/mdakhan/_packaging/cs-framework/npm/:email=npm@example.com
